<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronavirus Tracker</title>
</head>
<body>
    <h1>Coronavirus Tracker Application</h1>
    <p>This application lists the current number of cases across the globe</p>

    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total cases reported</th>
                <th>Changes since last day</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data : ${coronavirusData}">
                <td th:text="${data.state}"></td>
                <td th:text="${data.country}"></td>
                <td th:text="${data.currentCases}"></td>
                <td th:text="${data.prevDayCases}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>